body {
    font-size: 40px;
    font-family: monospace;
}

ul {
    font-size: 30px;
    font-family: monospace;
}
li {
    list-style: circle;
  }
  
  .list {
    list-style: square;
  }
  
  #msg {
    font-family: monospace;
  }